<div>
    <h1>Sample Details: </h1>
    <span class="id"> {{data.bloodBankId}}</span>
    <span class="bloodGroup">{{data.bloodGroup}}</span>
    <div>
        Packs : <span class="Packs">{{data.quantity}}</span>
        No. of days :<span class="days">{{data.days}}</span>
        Mobile : <span class="mobile">{{data.phone}}</span>
        Address : <span class="Address"> {{data.location}}</span>
        Availabiliy : <span class="avialablity">{{data.availablity}}</span>
        PHPLvl : <span class="ph">{{data.PHLevel}}</span>
        Pressure : <span class="pressure">{{data.bloodPressure}}</span>


    </div>

</div>
