.Comp
{
    display: flex;
    height : 500px;
    width : 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}
#fail 
{
    color: red;
}
#logFail
{
    color: red;
}
#NA
{
    color: red;
}
#success
{
    color: green;
}
.msg
{
    position: relative;
    bottom:10px;
    text-align: center;

}