
    <div class="container">
        <h1>Sample List: </h1>
        <input type="text" [(ngModel)]="keyword" (input)="search()">
      <table cellspacing="0">
        <tr id="top">
          <th>ID</th>
          <th>Sample Group</th>
          <th>No. of Packs</th>
          <th class="locat">Location</th>
          <th></th>
        </tr>

        <tr class="row" *ngFor="let item of sampleList" (click)="hyperLink(item.id)">
          <td class="id">{{item.id}}.</td>
          <td class="SampleGroup">{{item.sampleGroup}}</td>
          <td class="NoOfPacks">{{item.quantity}}pcs</td>
          <td class="loaction">{{item.location}}</td>
          <td class="mobile"><a href="tel:{{item.mobile}}"><img class="phoneico" src="assets/donorSample/phone.png" alt="icon"></a></td>
        </tr>
      </table>
    </div>
