
    <div class="container">
      <h1>Sample List: </h1>
      <input type="text" [(ngModel)]="keyword" (input)="search()" placeholder="Search group here">
    <table cellspacing="0">
      <tr id="top">
        <th>ID</th>
        <th>Sample Group</th>
        <th>No. of Packs</th>
        <th class="locat">Location</th>
        <th></th>
      </tr>

      <tr class="row" *ngFor="let item of sampleList" (click)="hyperLink(item.bloodBankID)">
        <td class="id">{{item.bloodBankID}}.</td>
        <td class="SampleGroup">{{item.bloodGroup}}</td>
        <td class="NoOfPacks">{{item.quantity}}pcs</td>
        <td class="loaction">{{item.location}}</td>
        <td class="mobile"><a href="tel:{{item.mobileNumber}}"><img class="phoneico" src="assets/donorSample/phone.png" alt="icon"></a></td>
      </tr>
    </table>


