
    <div class="container">
        <h1>Sample List: </h1>
        <input type="text" [(ngModel)]="keyword" (input)="search()">
      <table cellspacing="0">
        <tr id="top">
          <th>ID</th>
          <th>Name</th>
          <th>Blood Type</th>
          <th class="locat">Mobile</th>
          <th></th>
        </tr>

        <tr class="row" *ngFor="let item of donarList">
          <td class="id">{{item.id}}.</td>
          <td class="SampleGroup">{{item.Name}}</td>
          <td class="NoOfPacks">{{item.bloodType}}</td>
          <td class="loaction">{{item.mobile}}</td>
          <td class="mobile"><a href="tel:{{item.mobile}}"><img src="" alt="icon"></a></td>
        </tr>
      </table>
    </div>
