<div>
    <h1>Donor Details: </h1>
    <span class="id"> {{data.Id}}</span><br>
    <span class="bloodGroup">{{data.bloodGroup}}</span><br>
    <span donor="donorName">{{data.donorName}} </span>
    <div>
        Weight : {{data.weight}}<br>
        Age :  {{data.days}}<br>
        Mobile : {{data.phone}}<br>
        Address : {{data.location}} <br>
        Availabiliy : {{data.availablity}}<br>
        PH Lvl : {{data.PHLevel}}<br>
        Pressure : {{data.bloodPressure}}


    </div>

</div>
