<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    <h1>Donor Details: </h1>
    <span class="id"> {{data.Id}}</span><br>
    <span class="bloodGroup">{{data.bloodGroup}}</span><br>
    <span donor="donorName">{{data.donorName}} </span>
    <div>
        Weight : {{data.weight}}<br>
        Age :  {{data.days}}<br>
        Mobile : {{data.phone}}<br>
        Address : {{data.location}} <br>
        Availabiliy : {{data.availablity}}<br>
        PH Lvl : {{data.PHLevel}}<br>
        Pressure : {{data.bloodPressure}}


    </div>
    <div *ngIf="checkRole()">
        <button >Delete <i class="fa fa-trash-o" style="font-size:20px"></i></button>
        <button >Update<i class="fa fa-arrow-circle-o-right" style="font-size: 20px;"></i> </button>

    </div>
</div>
