

  

    <div class="main">
        <section>
        <div class="box1">Donor Details: </div>
        <div class="box2"> {{data.Id}}</div><br>
    </section>
    <div class="pic">
    <div class="donordet">
        <img src="" alt="Not loading"><br>
    
        <div class="donorname">{{data.donorName}} </div>
    </div>
    
    <div class="box">
        <div class="drop">
        <div class="bloodGroup">{{data.bloodGroup}}</div>
    </div>
    </div>
    
    
    </div>
    <div class="details">
            
        <div class="first">
    <p>Weight :</p>  <span> {{data.weight}}</span><br>
    <p> Age :</p> <span> {{data.days}}</span><br>
    <p> Mobile :</p><span class="mobile"> {{data.phone}}</span><br>
    <p> Address :</p> <span class="address">{{data.location}}</span> <br> </div>
    <div class="second">
    <p> Availabiliy : </p><span>{{data.availablity}}</span><br>
    <p> PH Lvl :</p><span> {{data.PHLevel}}</span><br>
    <p>Pressure :</p> <span>{{data.bloodPressure}}</span>
    
    
    </div>
    
    </div>
    
    <div *ngIf="checkRole()">
        <button >Delete <i class="fa fa-trash-o" style="font-size:20px"></i></button>
        <button >Update<i class="fa fa-arrow-circle-o-right" style="font-size: 20px;"></i> </button>

    </div>
    
    </div>
    