<div class="flx">
    <div class="navbar">
        <button (click)="changeFlag(false)" >Donor Details</button>
        <button (click)="changeFlag(true)">Sample Details</button>
        <button (click)="logout()">Logout</button>
    </div>
    <div class="detail">
        <app-samples *ngIf="flag && role=='User'"></app-samples>
        <app-donar-list *ngIf="!flag && role=='User'"></app-donar-list>
        <app-adminsample *ngIf="flag && role!='User'"></app-adminsample>
        <app-admin-donor *ngIf="!flag && role!='User'"></app-admin-donor>
    </div>
</div>
