<div class="box">
    <img id="userImg" src="\assets\Image\login-page\login-detail\user.png" alt="user"><label class="heading">Sign Up </label>
    <form >
        <input  type="text" placeholder="Enter First Name"> <br>
        <input  type="text" placeholder="Enter Last Name"> <br>
        <input  type="text" placeholder="Enter User Id"> <br>
        <input  type="number" placeholder="Enter Mobile Number"> <br>
        <input  type="text" placeholder="Enter Mail ID"><br>
        <button type="submit"><img id="buttonIcon" src="\assets\Image\login-page\login-detail\submitButton.png" alt="Submit"></button>
    </form>
    </div>